{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Homepage Carsells</h1>

    <ul>
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, rem dolores soluta dolor aut minus adipisci sequi? Quae nemo quibusdam dolorum aut quasi? Tenetur quos debitis aliquam molestias totam, sit accusamus odit esse iste hic reprehenderit rem, aperiam recusandae eos quasi unde et itaque dolorum voluptatibus. Omnis ullam tempore hic vitae quaerat rerum iusto veritatis. Ex, accusantium neque. Laboriosam, fugiat quod. Quisquam omnis, animi ducimus accusamus expedita dignissimos at porro quidem praesentium nemo aut suscipit vel quae excepturi reiciendis similique fuga molestias voluptatem nam esse quibusdam sint rerum! Quas error perspiciatis atque! Architecto a neque laboriosam excepturi eligendi incidunt facere reprehenderit doloribus tenetur omnis. Architecto eveniet sed quidem quia, veniam voluptatem nemo in, placeat, unde porro laboriosam vitae quisquam! Nulla amet consequuntur dolorum cumque doloremque inventore ab perferendis neque molestiae iste enim libero, praesentium fugit corrupti nesciunt earum nisi adipisci dicta quisquam officiis eaque ut. Commodi labore sequi eaque omnis! Corporis officiis rerum consequatur illo voluptas! Fugit, modi delectus! Pariatur consequatur a dolores voluptates et officiis cum. Nemo alias eligendi velit ex rerum, laudantium autem? Hic quae a illum sequi blanditiis quod nesciunt rerum, nostrum aut assumenda architecto fuga ratione obcaecati praesentium repellat perspiciatis, laborum nam fugit porro doloremque voluptate?</p>
    </ul>
        <h2>liste de nos voitures en vente</h2>
        <li><a href="{{path('voiture')}}">voiture</a></code></li>

    
</div>
{% endblock %}
