{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

   <h2>Test</h2>
        <ul>
           {% for voiture in voitures %}

            <a href="#" class="card mb-3">
                <h1 class="card-title">{{voiture.marque}}</h1>
                <h2 class="card-subtitle text-muted ">{{voiture.modele}}</h2>
                <img src="{{voiture.cover}}" alt="cover image">
            </a>

           {% endfor %}
        </ul>
</div>
{% endblock %}
